/* Import the Cormorant Garamond font */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400&display=swap');

/* Apply the font globally */
* {
  font-family: 'Cormorant Garamond', serif;
}
#popup {
    min-width: 400px; /* Set the minimum width */
  }
body {
  padding: 20px;
  background: radial-gradient(circle at 20% 30%, #ffd09a, transparent 50%),
              radial-gradient(circle at 95% 20%, #b7e6ec, transparent 50%),
              radial-gradient(circle at 70% 80%, #eb8dd2, transparent 50%),
              radial-gradient(circle at 30% 60%, #836abe, transparent 50%);
  background-blend-mode: screen;
}
.center-button {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

input {
  padding: 8px;
  font-size: 16px;
  margin: 10px 0;
  width: calc(100% - 20px);
  box-sizing: border-box;
}

ul {
  padding-left: 20px;
}

li {
  margin: 5px 0;
}

#bookmark-reminder-container {
  display: none; 
  margin-top: 20px;
}

#back-button {
  background-color: #f44336;
  margin-top: 10px;
}

#back-button:hover {
  background-color: #d32f2f;
}
#tab-list-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  #tab-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  #tab-list li {
    flex: 1 1 100%; /* Each tab item takes up the full width */
    box-sizing: border-box;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #tab-list button {
    margin-left: 10px;
  }